<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>UFOs API</title>

</head>

<body>

  <div class="container">
    <div class="header">
      <h1 class="text-muted">👽UFOs API 👽</h1>
      <h2>😃Please visit our swagger page to explore the available methods.🚀</h2>
      <h2>TODO: INSERT LINK HERE...</h2>
    </div>
  </div>
</body>

</html>