option_settings:
  "aws:elasticbeanstalk:customoption":
    SessionHashKeyName: MomentTime
    SessionHashKeyType: S
    SessionReadCapacityUnits: 4
    SessionReadCapacityUnitsAlarmThreshold: 4
    SessionWriteCapacityUnits: 4
    SessionWriteCapacityUnitsAlarmThreshold: 4
    SessionThrottledRequestsThreshold: 1
    SessionAlarmEmail: me@example.com
